
<!DOCTYPE html>
<html>


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Site</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

  {%load static%}
  <script src="{% static 'myScript.js'%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'site.css'%}" />
  
</head>

<body class="grid-container">

<div class="day">

    <p class="header">{{ todayname }}</p>
    <div class="dayevent" id="Day1"></div>    
    
</div>



<div class="day">

    <p class="header">{{ tomorrowname }}</p>
    <div class="dayevent" id="Day2"></div>

</div>



<div class="day">

    <p class="header">{{ tomorrowername }}</p>
    <div class="dayevent" id="Day3"></div>

</div>



<div class="lightstate">
</div>



<div class="Devices">

    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>
    <div><img src="{% static '3DPrinter.png'%}"/></div>

</div>



<div class="doorsensor">
    <div class="LockGrid">
        
        <div class="LockState">
            <div class="LockCssFlex">
                <div class="half-circle" id="LockTop"></div>
                <div class="bottomlock" id="LockBottom"></div>
            </div>
        </div>

        <div class="LockFlex">
            <div class="Door" id="BedroomLight">Bedroom</div>   
            <div class="Door">Outside</div>            
            <div class="Door">Room</div>
        </div>

    </div>
</div>



<div class="lightstate">
    <div class="LightGrid">
       
        <div class="CurrentLightsFlex">
            <span class="dot" id="lightdot"></span>
        </div>

        <div class="AllLightsFlex">
            <div class="Light" id="Bedroom">Bedroom</div>   
            <div class="Light">Hallway</div>            
            <div class="Light">Outside</div>
        </div>

    </div>
</div>



<div class="food">

    <div class="FoodSection">
        <img class="FoodImage" src="{%static 'Pizza.jpg'%}">
        <div class="FoodDesc">  
            <span class="FoodTitle">Coconut Cookies</span>
            <span class="Macros">Macros</span>
            <span class="Protein">30</span>
            <span class="Fats">5</span>
            <span class="Lipids">8</span>
        </div>
    </div>

    <div class="FoodSection">
        <img class="FoodImage" src="{%static 'Pizza.jpg'%}">
        <div class="FoodDesc"> 
            <span class="FoodTitle">Coconut Cookies</span>
            <span class="Macros">Macros</span>
            <span class="Protein">30</span>
            <span class="Fats">5</span>
            <span class="Lipids">8</span>
        </div>
    </div>

    <div class="FoodSection">
        <img class="FoodImage" src="{%static 'Pizza.jpg'%}">
        <div class="FoodDesc"> 
            <span class="FoodTitle">Coconut Cookies</span>
            <span class="Macros">Macros</span>
            <span class="Protein">30</span>
            <span class="Fats">5</span>
            <span class="Lipids">8</span>
        </div>
    </div>

    <div class="FoodSection">
        <img class="FoodImage" src="{%static 'Pizza.jpg'%}">
        <div class="FoodDesc"> 
            <span class="FoodTitle">Coconut Cookies</span>
            <span class="Macros">Macros</span>
            <span class="Protein">30</span>
            <span class="Fats">5</span>
            <span class="Lipids">8</span>
        </div>   
    </div>

</div>




<div class="clothing">
    <div class="ClothingGrid">
        
        <div class="clothingitem"> 
            <img src="{% static 'Shirt.jpg'%}">
        </div>
        
        <div class="clothingitem">
            <img src="{% static 'Shirt.jpg'%}">
        </div>
    
        <div class="clothingitem">
            <img src="{% static 'Shirt.jpg'%}">
        </div>  
    
        <div class="clothingitem">
            <img src="{% static 'Shirt.jpg'%}">
        </div>

    </div>
</div>



<div class="Spotify">
    <div class="SpotifyGrid">

        <div class="AlbumImg">
            <img id="AlbumImg" src="https://upload.wikimedia.org/wikipedia/en/6/6a/ASAP_Rocky_Testing.jpg"/>
        </div>

        <div class="PlayingNowFlex">
            <div class="TrackInfo">
                <span id="TrackName">Distorted Records</span>
                <span id="AlbumName">Testing</span>
                <span id="ArtistName">A$AP ROCKY</span> 
                <p>Next</p>   
            </div>  

            <div class="NextInfo">  
                <img id="NextAlbumImg" src="https://upload.wikimedia.org/wikipedia/en/6/6a/ASAP_Rocky_Testing.jpg"/>
            </div>
        </div>

    </div>
</div>


<div class="weather">
    <div class="whatdoimean">

        <div class="bigC">
            <span id="apiC"></span>|<span id="mqttC">4</span>
        </div>

        <div class="maxminC">
            <span>Max</span><span id="maxC"></span>
            <span>Min</span><span id="minC"></span>
        </div>

        <div class="tempname">
            <img src="" id="weatherimg">
            <span id="weather"><span>
        </div>
        
    </div>
</div>


<div id="menubutton">
    

    <button onclick="ShowNav()" style="background: none;"><img id="mainmenubnt" src="{% static 'menu.svg'%}"></button>

    <button onclick="AddAddMenu();" class="submenu"><img src="{% static 'plus.svg'%}"></button>
   
    <a href="http://127.0.0.1:8000/editviewer" class="submenu" ><img style="padding:15%" src="{% static 'edit-2.svg'%}"></a>

    <button onclick="AddSettingMenu()" class="submenu"><img src="{% static 'settings.svg'%}"></button>

</div>



<div id="addmenu" class="submenu">
    
    <div id="menulocation">
        <button onclick="eventadd()">Event</button> <button onclick="ruleadd()">Rule</button> <button onclick="outfitadd">Outfit</button>
    </div>
    
    <form id="eventaddform" class="submenu">
        <div class="formsubmenu">
            <p>Event Name</p>
            <input type="text" id="name"/>
            <p>Date-Time</p>
            <input type="datetime-local" id="name"/>
            <p>Event Description</p>
            <input type="text" id="name" style="height:10dvh"/>
        </div>
        <div id="menusubmit">
            <button onclick="AddAddMenu(); ShowNav();">Cancel</button> <input type="submit" class="submitbutton"></input>
        </div>
    </form>

</div>

<div id="settingsmenu" class="submenu">
    
    <div id="menulocation">
        <button onclick="eventadd()">Main</button> 
    </div>
    
    
    <div class="submenu" id="mainmenu">
        <p>Event Name</p>
        <input type="text" id="name"/>
        <p>Date-Time</p>
        <input type="datetime-local" id="name"/>
        <p>Event Description</p>
        <input type="text" id="name" style="height:10dvh"/>
    </div>

    <div class="submenu" id="musicmenu">
        <p>Event Name</p>
        <input type="text" id="name"/>
        <p>Date-Time</p>
        <input type="datetime-local" id="name"/>
        <p>Event Description</p>
        <input type="text" id="name" style="height:10dvh"/>
    </div>

</div>

</body>
</html>